 /* frontend/src/components/TimelineChart/TimelineChart.module.css */

 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timelineChart {
    background-color: #1a202c;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 500px;
    gap: 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}