/* frontend/src/components/Summary/Skeleton/SummarySkeletonCard.module.css */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  padding: 15px;

  width: 100%;
  max-width: 500px;
  height: 80px; 

  border-radius: 12px;
  border: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  transition: all 0.2s;
}


.effect {
  background-color: #d0d6e2;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.effect::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.label {
  width: 150px;
  height: 12px; 
  margin-bottom: 5px;
}

.date {
  width: 80px;
  height: 12px; 
}
.amount {
  width: 180px;
  height: 24px;
  margin-top: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}