 /* frontend/src/components/CategoryChart/CategoryChart.module.css */

 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categoryChart {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px; 
    width: 100%;
    height: 300px;
}