/* frontend/src/index.css */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #111827;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    
}

.message {
    color: whitesmoke;
    font-size: 22px;
    letter-spacing: 1px;
    
    margin: 100px;

    text-align: center;
    display: block;
}