/* frontend/src/components/Monitor/Monitor.module.css */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.monitor {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
} 